<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reset_Password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" 
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h2> Reset Password</h2>
	<form>
		<div class="form-group">
		<label for="password">New Password:</label>
		<input type="password" class="form-control" id="newPassword" placeholder="Enter New Password">
		</div>

		<div class="form-group">
		<label for="password">Confirm New Password:</label>
		<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
</body>
</html>



